.visible{
  display: flex!important;
}

.row{
  display: flex;
  flex-direction: row;
}

.center{
  align-items: center;
  justify-content: center;
}

.textCenter{
  text-align: center;
}

.mt10{
  margin-top: 10px;
}

.mb10{
  margin-bottom: 10px;
}

.ms15{
  margin-left: 15px;
  margin-right: 15px;
}

.disabled{
  cursor: no-drop!important;
}

.clickable{
  cursor: pointer;
}

.popup{
  display: none;
  position: fixed;
  left: 20%;
  width: auto;
  top: 20vh;
  height: 30vh;
  z-index: 101;
}


.heroLeft{
  padding: 50px 0 0 10px;
  width: 300px;
}

.heroRight{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.heroButton{
  background-color: #603010;
  color: #EFEC9F;
  border-radius: 6px;
  border-left: solid 3px rgb(70,30,5);
  border-right: solid 2px rgb(0,0,0);
  border-top: solid 1px black;
  border-bottom: solid 3px rgb(0,0,0);
}

.heroButton:hover{
  cursor: pointer;
  filter: brightness(130%);
}