.visible{
  display: flex!important;
}

.fillButton{
  position: fixed;
  top: 475px;
  left: calc(50%);
  z-index: 1999;
  height: 32px;
}

.col{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.button{
  background-color: #603010;
  border-left: solid 3px rgb(70,30,5);
  border-right: solid 2px rgb(0,0,0);
  border-top: solid 1px black;
  border-bottom: solid 3px rgb(0,0,0);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #EFEC9F;
}

.mt10{
  margin-top: 10px;
}